* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 500px;
    background-color: #f0f2f5;
}

img {
    height: 106px;
}

#pres {
    float: left;
    margin-top: 172px;
    margin-left: 15%;
    width: 30%;
}

#p_pres {
}

#log {
    width: 30%;
    float: right;
    margin-top: 172px;
    margin-right: 15%;
}

#log hr {
    width: 50%;
    float: left;
}

input, form a {
    display: block;
}

form {
    width: 396px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}